<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <connectionStrings>
        <add connectionString="Server=nead23dabatasse.db.8401567.hostedresource.com;Database=nead23dabatasse;Uid=nead23dabatasse;Pwd=neadeCR380" name="nead23dabatasse" providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <system.webServer>
            <rewrite>
                <rules>
                    <rule name="slim" patternSyntax="Wildcard">
                        <match url="*" />
                        <conditions>
                            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                        </conditions>
                        <action type="Rewrite" url="index.php" />
                    </rule>
                </rules>
            </rewrite>
        </system.webServer>
</configuration>
