<div class="header-wrapper">
<div class="container">
        <section id="message">
            <h1>Encuentra trabajos rapido y facil</h1>
            <p>Busca gratis empleos en diferentes sectores de la industria troquera.
            </p>
            <p>&nbsp;</p>
        </section>
        <section id="search-container">
            <h2>Comiensa tu busqueda</h2>
            
            
            <input type="text" class="form-control pull-left" ng-model="model.search" placeholder="Ejemplo: Chover comercial.." autofocus="">
                
            <a href="#/results/{{model.search}}"  class="btn btn-default btn-danger pull-left" style="margin-left:10px; color:white">
                Buscar
            </a>
           
            <p class="clear"></p>

            <p>&nbsp;</p>
            <ul class="navigation-classified font-size-small">
                <li style="margin-left:0px"><a href="#/trabajos">Trabajos</a></li>
                <li>Tallers</li>                  
                <li>For sale</li>
                <li>Towing Services</li>
                <li>Insurance</li>
                <li>Ver mas categorias</li>
            </ul>
        </section>
    </div>
</div>